/* GENERAL */

body {
	background-color: #FFFFFF;
  background-attachment: fixed;
	font-family: "Trebuchet MS", Verdana, serif;
	line-height: 16px;
  color: #666666;
}

ul {
	margin: 0px;
}

p {
	margin: 0px 0px;
	padding: 0px 0px 7px 0px;
}

form p {
	margin: 0px 0px;
	padding: 0px 0px 15px 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

label {
  cursor: pointer;
}

pre {
  margin: 0px;
  padding: 0px;
}

.redtext {
	color: #00CCFF;
}

a {
	color: #00CCFF;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	color: #A40008;
	font-weight: bold;
	#text-decoration: underline
}

select, input, textarea {
	border: 1px solid #AAAAAA;
	padding: 2px;
	margin-top: 2px;
	font-family: "Trebuchet MS", Verdana, serif;
	font-size: 12px;
}

select {
	padding: 0px;
}

input:focus, textarea:focus {
	background-color: #F9F9F9;
	border: 1px solid #666666;
}

.noframe {
  border: none;
}

/* FIELDSETS */

fieldset {
	border: 1px solid #CCCCCC;
	padding: 5px 20px 15px 20px;
}

legend {
	font-size: 17px;
	padding: 1px;
	font-weight: bold;
	color: #333333;
}

/* LAYOUT APPLICATION */

#app_top {
	margin: 0 auto;
	width: 1290px;
}

#app_bottom {
	margin: 0 auto;
	width: 1290px;
  height: 50px;
}

#header {
	margin: 0 auto;
	width: 890px;
	height: 88px;
}

#header_claim {
	text-align: right;
	float: right;
	font-weight: bold;
	font-size: 16px;
	color: #444444;
	padding-right: 10px;
	padding-top: 59px;
}

#main_content {
	margin: 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	min-height: 350px;
} 

#footer {
	width:870px;
	font-size: 11px;
	#font-weight: bold;
  color: #999999;
	margin: 3px auto 20px auto;
}

#footer_logged {
	float: right;
}

.content {
	float: left;
	width: 970px;
	text-align: left;
	padding: 0px 0px 0px 30px;
  *padding: 0px 0px 0px 30px;
	font-size: 12px;
}

.deployment_status {
  width: 212px; 
  border-top: 1px solid #CCCCCC; 
  margin-top: 20px; 
  padding: 10px 0px 0px 0px; 
  text-align: center;
}

.deployment_block {
  width: 919px;
  padding: 12px 6px;
  height: 85px;
  margin-top: 10px;
}

.deployment_block td {
  line-height: 14px;
  padding: 0px 2px;
}

/* MENU */

.menu {
	width: 239px;
	float: left;
	font-size: 12px;
	margin-right: 30px;
}

.menu_box {
	width: 269px;
	margin: 0px 0px 20px 0px;
}

.menu_box_header {
	height: 23px;
	background: url(../images/peritor_theme/menu_top.gif) repeat-x;	
}

.menu_box_arrow {
	float: right;
	line-height:none;
	cursor:pointer;
	margin: 0px;
	padding: 0px;
	height:20px;
}

.menu_box_body {
	padding: 10px 0px 2px 0px;
#	border-right: 1px solid #000000;
#	border-left: 1px solid #000000;
	width: 267px;
	overflow: hidden;
}

.menu_box_footer {
	width: 269px;
	height: 8px;
#	background: url(../images/peritor_theme/menu_bottom.gif) top repeat-x;	
}

.menu_item{
	padding: 2px 0px 4px 10px;
}

.menu_title {
  float:left;
	padding: 4px 0px 0px 11px;
}

.has_submenu{
  padding-left: 0px !important;
}

.menu_title a {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

.menu_title a:hover {
	color: #FFFFFF;
}

.menu_link_title {
	padding: 5px 0px 4px 10px;
	line-height: 1;
	height:11px;
	overflow: hidden;
	white-space: nowrap;
	cursor: hand;
}

.menu_icons {
	float:left;
	height:20px;
	margin-top:1px;
}

a.menu_link {
	outline-style:none !important;
	outline-width:0pt !important;
	display: block;
	clear: both;
	width:267px;
	color: #666666;
	font-weight: bold;
	line-height:1;
	margin-bottom: 1px;
	text-decoration: none;
}

a.menu_link:hover {
	color: #00CCFF;
	background-color: #EEEEEE;
	font-weight: bold;
	text-decoration: none;
}

a.active_menu_link {
	color: #00CCFF;
	background-color: #EEEEEE;
}

a.active_menu_link:hover {
	color: #A40008;
	background-color: #EEEEEE;
}

a.menu_link_new {
	background: url(../images/peritor_theme/arrow_content.gif) left no-repeat;	
	background-position: 29px 4px;
	padding-left: 13px;
}

a.menu_link_create {
	background: url(../images/peritor_theme/arrow_content.gif) left no-repeat;	
	background-position: 8px 4px;
	padding-left: 13px;
}


/* CONTENT LINKS */

a.arrow_link {
	background: url(../images/peritor_theme/arrow_content.gif) left no-repeat;	
	background-position: 0px 2px;
	padding-left: 14px;
}

a.arrow_link_big {
	background: url(../images/peritor_theme/arrow_content_big.gif) left no-repeat;	
	padding-left: 14px;
	font-size: 17px;
}

/* BOX grey*/ 

div.box {
  float: left;
}

div.box_top {
  margin-top: 6px;
  height: 20px;
  width: 687px;
  background-color: #eeeeee;
}

div.box_middle {
  padding: 0px 10px 0px 25px;
  width: 652px;
  min-height: 113px;
  *height: 113px;
  background-color: #eeeeee;
}

div.box_bottom {
  height: 20px;
  width: 687px;
  background-color: #eeeeee;
}


/* BOX Special */ 


div.action_box{
  float: right;
  width: 274px;
  margin-left: 10px;
  margin-top: 0px; 
}

div.special_box{
  float: right;
  margin-right: -6px;
  *margin-right: 0px;
  background: url(../images/peritor_theme/box_light.gif) center no-repeat;
}

div.special_box_top {
  height: 12px;
  width: 270px;
  background: url(../images/peritor_theme/box_light.gif) top no-repeat;

}

div.special_box_middle{
  padding: 10px 10px 0px 30px;
  width: 230px;
  min-height: 133px;
  *height: 120px;
}

div.special_box_bottom {
  height: 12px;
  width: 270px;
  background: url(../images/peritor_theme/box_light.gif) bottom no-repeat;
}

div.status_box{
  background: url(../images/peritor_theme/box_status.gif) center no-repeat;
}

div.stages_box{
  background: url(../images/peritor_theme/box_stages.gif) center no-repeat;
}

div.deployments_box{
  background: url(../images/peritor_theme/box_deployments.gif) center no-repeat;
}

div.host_box{
  background: url(../images/peritor_theme/box_host.gif) center no-repeat;
}

div.recipe_box{
  background: url(../images/peritor_theme/box_recipe.gif) center no-repeat;
}

div.user_box{
  background: url(../images/peritor_theme/box_user.gif) center no-repeat;
}

/* BOX small grey */ 

div.small_box {
  margin-top: 18px;
  float: right;
}

div.small_box_top {
  height: 20px;
  width: 252px;
  background: url(../images/peritor_theme/box_small.gif) top no-repeat;
}

div.small_box_middle {
  padding: 0px 10px 0px 20px;
  width: 222px;
  min-height: 100px;
  *height: 109px;
  background: url(../images/peritor_theme/box_small.gif) center no-repeat;
}

div.small_box_bottom {
  height: 20px;
  width: 252px;
  background: url(../images/peritor_theme/box_small.gif) bottom no-repeat;
}

/* FLASHBOX */

#flash {
	padding: 0px;
	font-weight: bold;
}

.flash_text_info {
	color: #00AA00;
	padding: 15px 5px 12px 70px;
	background: url(../images/peritor_theme/info.gif) left center no-repeat;
  background-position: 20px 0px;
}

.flash_text_error {
	color: #A40008;
	padding: 15px 5px 12px 70px;
	background: url(../images/peritor_theme/warning.gif) left center no-repeat;
  background-position: 20px 0px;
}

.flash_text_locking {
	color: #A40008;
	padding: 15px 5px 12px 70px;
	background: url(../images/peritor_theme/locked.gif) left center no-repeat;
  background-position: 20px 0px;
}

div.flash_box{
  clear: both;
  margin-top: 0px;
  margin-left: -10px;
 *margin-left: 0px;
  margin-bottom: 10px;
  width: 990px;
 *width: 967px;

}

div.flash_box_top {
  height: 18px;
  width: 990px;
 *width: 967px;
}

div.flash_box_middle{
  padding: 10px 10px 0px 30px;
  width: 990px;
 *width: 967px;
  min-height: 40px;
  *height: 40px;
}

div.flash_box_bottom {
  height: 15px;
  width: 990px;
 *width: 967px;
}


/* TEXT */

.breadcrumb {
  background: #FFFFFF; 
  border: 1px solid #CCCCCC; 
  color: #666666; 
  padding:3px 15px;
}

#header h1 {
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: bold;
	color: #A40008;
}

.content h2 {
	margin: 15px 0px 15px 0px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
	color: #666666;
}

.content h3 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #A40008
}

.clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

.ontheright {
  margin-top: 5px;
  float: right;
}
/*
.quote {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic
}
*/


/* TABLES */

table.sortable { width:100% }
table.sortable tr.odd { background-color: #FAFAFA; }
table.sortable tr.even { background-color: #EEEEEE; }
table.sortable tbody tr:hover { background-color: #CCCCCC; }
table.sortable td { padding: 4px; }
table.sortable th { padding: 4px; white-space: nowrap;}

/* MISC */

div.log_output {
	font-family: Courier, "Courier New", monospace;
  font-size: 11px;
  line-height: 16px;
  margin: 5px 0px;
  padding: 17px 10px 16px 40px;
  width: 874px;
  color: #333333;
  background: #EEEEEE url(../images/peritor_theme/code_grid.gif) top repeat;
  background-position: 0px 0px;
  overflow: auto;
}

.role_status_deployed{
  color: green;
}

.role_status_blank{
  color: red;
}

.role_status_setup_done{
/*  color: #333333;*/
}

.deployment_status_success{
  color: green;
}

.deployment_status_failed{
  color: red;
}

.role_status_running{
/*  color: #333333;*/
}

.configuration_prompt{
  font-style:italic;
}

/* RAILS related */

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
  background-color: #FFDFDF;
  border: 1px solid #A40008;
  display: inline;
  margin-bottom: 7px;
}

/*
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

*/
div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* multiple select helper */ 

.multiple_select {
  border: 1px solid #aaa;
  height: 100px;
  width: 330px;
  padding: 2px;
  overflow: auto;
}

.multiple_select, .multiple_select ul {
  list-style-type: none;
  margin-top: 2px;
}

.multiple_select_checkbox {
  background: #fff;
}

.alt {
  background: #eef;
}

tr.disabled_host {
	color: grey;
}

tr.enabled_host {
	color: #A40008;
}


/* Syntax Highlighting */
.ruby .normal {}
.ruby .comment { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }


/* TOPMENU */

#header_top_menu {
  z-index:10; 
	position:absolute; 
	top:0px; 
	left:0px; 
	height:42px; 
	width:100%; 
	background-image: url(../images/peritor_theme/header_bg.gif); 
	background-repeat: repeat;
}

#container_left_menu {
	z-index:4;
	position:absolute; 
	top:20px; 
	left:220px;
}

#container_right_menu {
	z-index:3;
	position:relative; 
	top:20px; 
	right:20px;
	text-align: right;
}

.topNav {font-size:88%; letter-spacing: 0.2em; color: #999999;}

#container_left_menu  a:link    { color: #00CCFF; text-decoration: none; }
#container_left_menu 	a:visited	{ color: #00CCFF; text-decoration: none; }
#container_left_menu 	a:hover		{ color: #ccffcc; text-decoration: none; } 
#container_left_menu 	a:active	{ color: #0066FF; text-decoration: none; }



.tiptop {
	z-index:999;
	display:none;
	position:absolute; 
	width:400px; 
	height:108px;
}





















/*


body {
  font-family: "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: .8em;
  margin: 0;
  border: 0;
  color: #000;
  background-color: #FFF;
}

h3 {
  margin-top: .4em;
}

img { border-style: none; }

a, a:link, a:visited { 
  color: #507ec0;
  text-decoration: none;
}

a:hover {
  color: #507ec0;
  text-decoration: underline;
}


*/

/* default layout classes 

.header {
  background-image: url(../images/top_gradient.png);
  background-position: top;
  background-repeat: repeat-x;
  font-weight: normal;
  clear: both;
}

.header .cc_logo { 
  margin: 10px 0 0 1.5em;
 
}

.footer {
  font-size: 0.7em;
  color: #999;
  text-align: right;
  padding: 2em 1em 0 0;
  clear: both;
}

.footer .version {
  padding-right: 1.5em;
}

.footer a, .footer a:visited {
  color: #507ec0;
}
*/

.main_menu {
  color: #507ec0;
  padding: 0 1.5em 0 0.5em;
  float: right;
}

.main_menu .menu_item {
  color: #666;
  display: block;
  font-size: 0.8em;
  text-align: right;
  padding: 0 0.35em 0.2em 0;
}

.main_menu .menu_item a, .main_menu .menu_item a:visited {
  color: #507ec0;
}

#content {
  padding-left: 1.5em;
}

.error_message {
  font-weight: bold;
  color: #C00;
}

/* build status stuff */

.build_status { font-weight: bold; }
.build_failed .build_status, .build_never_built .build_status { text-transform: uppercase; }
.build_success .build_status { color: #0A0; }
.build_failed .build_status { color: #C00; }
.build_never_built .build_status { color: #888; }
.build_author { font-weight: bold; }

a.success, a.success:visited {
}

a.failed, a.failed:visited {
  font-weight: bold;
  color: #C00;
}

a.incomplete, a.incomplete:visited {
  font-weight: bold;
  font-style: italic;
  color: #888;
}


a.never_built, a.never_built:visited {
  font-weight: bold;
  color: #888;
}

/* Project dashboard */

.project {
  margin: 0.5em 0;
  padding: 0 1.5em;
  min-height: 9.2em;
}  

.build_success, .build_never_built, .build_incomplete, .build_failed {
  background-position: bottom;
  background-repeat: repeat-x;
  margin-left: -2.5em;
}

.build_never_built, .build_incomplete {
  background-image: url(../images/gray_gradient.png);
}

.build_success {
  background-image: url(../images/gray_gradient.png);
}

.build_failed {
  background-image: url(../images/red_gradient.png);
}

.project table.project_pane {
  padding-left: .75em;
  width: 100%;
}

.project table.project_pane td {
  vertical-align: top;
  text-align: left;
}

.project table.project_pane td.project_summary {
  width: 24%;
}

.project table.project_pane td.builder_control {
  width: 12%;
}

.project table.project_pane td.build_details {
  width: 64%;
}

.project .project_summary .buttons {
  padding: 1.5em;
}

.project .project_summary .buttons form {
  display: inline;
}

.project .build_button, .project .build_button_disabled {
  color: #000;
  font-weight:bold;
  background-repeat: no-repeat;
  font-size: 11px;
  text-align: center;
  width: 110px;
  height: 23px;
  border: none;
  background-color: transparent;
}
.project .build_button {
  background-image:url(../images/button.png);
  cursor: pointer;
}

.project .build_button_disabled {
  color: #999;
  background-image:url(../images/button_disabled.png);
}

.project .recent_builds {
  color: #666;
}

.project .recent_builds .lead {
  float: left;
  padding-right: 0.5em;
}

.project .recent_builds .builds_list {
  float: left;
}

.project .builder_control .builder_status_builder_down, 
.project .builder_control .builder_status_unknown, 
.project .builder_control .builder_status_source_control_error,
.project .builder_control .builder_status_timed_out {
  font-weight: bold;
  padding-top: 5px;
  padding-left: 25px;
  background-image: url(../images/spinner_error.gif);
  background-position: left;
  background-repeat: no-repeat;
}

.project .builder_control .builder_status_building, 
.project .builder_control .builder_status_build_requested,
.project .builder_control .builder_status_queued {
  font-weight: bold;
  padding-top: 5px;
  padding-left: 25px;
  background-image: url(../images/spinner.gif);
  background-position: left;
  background-repeat: no-repeat;
}

.project .build_summary {
}

.project .project_name {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}

/* Other classes */
.warning {
  color: #F28218;
}

.error, .error a, .error a:visited {
  color: #C00;
}

.log {
  overflow: auto;
}

.test-results {
  font-weight: bold;
}

.label {
  font-weight: bold;
  text-align: right;
}

.help {
  padding-left: .7em;
  color: #666;
}

.help a {
  color: #333;
}

.flash_notice {
  border: 1px solid #F87900;
  background-color: #FED;
  color: #F87900;
  padding: 1ex;
}

.build_time {
  margin-top: -1em;
  margin-left: 3em;
}

#build_details {
  margin-left: 17em;
  padding-right: 1.5em;
}

#build_details .section_content {
  padding-left: 2em;
  font-family: courier, monospace;
  word-wrap: break-word;
  white-space: pre;
}

/* section stuff */
#build_details .section_header {
  cursor: pointer;
  font-size: 1.3em;
  padding-left: 1.3em;
  background: no-repeat center left;
  margin: .4em 0;
}

#build_details .section_closed .section_header { background-image: url(../images/arrow_closed.png); }
#build_details .section_open .section_header   { background-image: url(../images/arrow_open.png); }

#build_details .section_closed .section_content { display: none; }

#builds_list {
  width: 16em;
  float: left;
  margin: 0.2em 1em 1em 0;
}

#builds_list .selected a {
  background-color: #507ec0;
  color: #FFF;
}

#builds_list .selected a .error {
  background-color: #507ec0;
  color: #F66;
}

#builds_list .selected a, #builds_list .selected a:visited {
  color: #FFF;
}

.logfile {
  padding-top: 0;
}

.build_link {
  padding: 1px 1px 1px 0;
}

.code {
  padding-left: 1em;
  font-family: courier, monospace;
}

.code a {
  color: black;
}

.code .line_number {
  color: #bbb;
  margin-right: 2em;
  width: 4em;
}

.code .line:hover {
  background-color: #feb;
}

.code .selected_line {
  background-color: #ccf;
}

#navigate_build {
  color: #aaa;
  margin: 1em -5em 1em -1.2em;
}

#navigate_build strong {
  color: black;
  font-weight: normal;
}
